<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530758280432-muq5qa83cqqmtk205fgrshobdqcaforc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530758280432-muq5qa83cqqmtk205fgrshobdqcaforc</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Duu6j9Q-_aTcQCMk5_m-bXS5uaCOhiw</string>
	<key>GCM_SENDER_ID</key>
	<string>530758280432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>pruebafunctions-426e9</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebafunctions-426e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530758280432:ios:4042434e828efefec54e35</string>
</dict>
</plist>